############### ALL folders
*/node_modules
*/npm-debug.log
*/yarn-error.log


############### eCardsApp folder
# OSX
#
eCardsApp/.DS_Store

# Xcode
#
eCardseCardsApp/build/
eCardsApp/*.pbxuser
!eCardsApp/default.pbxuser
eCardsApp/*.mode1v3
!eCardsApp/default.mode1v3
eCardsApp/*.mode2v3
!eCardsApp/default.mode2v3
eCardsApp/*.perspectivev3
!eCardsApp/default.perspectivev3
eCardsApp/xcuserdata
eCardsApp/*.xccheckout
eCardsApp/*.moved-aside
eCardsApp/DerivedData
eCardsApp/*.hmap
eCardsApp/*.ipa
eCardsApp/*.xcuserstate
eCardsApp/project.xcworkspace

# Android/IntelliJ
#
eCardsApp/build/
eCardsApp/.idea
eCardsApp/.gradle
eCardsApp/local.properties
eCardsApp/*.iml

# BUCK
eCardsApp/buck-out/
eCardsApp/\.buckd/
eCardsApp/*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

eCardsApp/fastlane/report.xml
eCardsApp/fastlane/Preview.html
eCardsApp/fastlane/screenshots

*/yarn.lock
